Найти:
<input ng-model="myQuery" ng-change="applyFilter()"><br><br>

Сортировать по:
<select ng-model="myOrderProperty" ng-change="applyFilter()">
    <option value="id">ID</option>
    <option value="name">Имени</option>
    <option value="weight">Весу (возрастание)</option>
    <option value="-weight">Весу (убывание)</option>
    <option value="height">Росту</option>
</select>

<br/><br/>
Фильтрация по типу:
<select ng-model="type" ng-options="type for type in getTypeList()" ng-change="applyFilter()"></select>

<ul>
    <li ng-repeat="pokemon in filteredPokemons">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="showName(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-style="getStyle(pokemon.type[0])">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>